<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Youtube Downloader</h2>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Audio')">Youtube to MP3</button>
        <button class="tablinks" onclick="openTab(event, 'Video')">Youtube to MP4</button>
    </div>

    <!-- audio section -->
    <div id="Audio" class="tabcontent">
        <h3>Audio Download</h3>
        <form action="{{ url_for('download_audio' )}}" method="post">
            <label for="url">Youtube URL:</label><br>
            <input type="text" id="url" name="url" placeholder="Enter URL Here"><br><br>
            <input type="submit" value="Download MP3">
        </form>
    </div>

    <!-- video section -->
    <div id="Video" class="tabcontent">
        <h3>video downloader</h3>
        <form action="{{ url_for('download_audio' )}}">
            <label for="url">Youtube URL:</label><br>
            <input type="text" id="url" name="url" placeholder="Enter URL Here"><br><br>
            <input type="submit" value="Download MP4">
        </form>
    </div>


    <script src="{{url_for('static', filename='script.js')}}"></script> 
</body>
</html>